In [1]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/10 20:04:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/06/10 20:04:13 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [5]:
df = spark.read.json('/Users/yogeshiyer/Documents/pyspark_udemy/udmy_vid_2/people.json')

In [6]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [8]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [9]:
df.columns

['age', 'name']

In [11]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   NULL|
| stddev|7.7781745930520225|   NULL|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [12]:
from pyspark.sql.types import (StructField, StringType, 
                                IntegerType, StructType)

In [13]:
data_schema = [StructField('age',IntegerType(),True),
               StructField('name',StringType(),True)]

In [14]:
final_struc = StructType(fields = data_schema)

In [16]:
df = spark.read.json('/Users/yogeshiyer/Documents/pyspark_udemy/udmy_vid_2/people.json',schema = final_struc)

In [17]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [19]:
type(df['age'])

pyspark.sql.column.Column

In [20]:
df.select('age').show()

+----+
| age|
+----+
|NULL|
|  30|
|  19|
+----+

In [23]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [26]:
df.select('age','name').show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [25]:
type(df.select('age','name'))

pyspark.sql.dataframe.DataFrame

In [27]:
df.withColumn('newage',df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|NULL|Michael|  NULL|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [28]:
df.withColumn('double_age',df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|NULL|Michael|      NULL|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [29]:
df.createOrReplaceTempView('people')

In [30]:
results = spark.sql("SELECT * FROM people")

In [31]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [32]:
new_results = spark.sql("SELECT * FROM people WHERE age = 30")

In [33]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+